.container {
  height: 100vh;
  width: 100vw;
  background: #092963;
  position: fixed;
  cursor: default;
}
.box {
  width: 31.25%;
  height: 58.7%;
  margin: 12.64% 34.37%;
  background-color: white;
  border-radius: 4px;
  /* align-items: center;  */
}
.error{
    margin: 10px 0;
    color: red;
} 
.resend span{
  cursor: pointer;
}
.logo {
  margin: 0 auto;
}
.logo img {
  margin: 0 29.5%;
  margin-top: 6.48%;
  width: 40.33%;
  height: 23.34%;
}
input{
    color: #072D5B;
}
mat-form-field {
 height: 56.8833px;
 width: 100%;
 -webkit-text-security: disc;
}
 ::ng-deep .mat-focused .mat-form-field-label {
  color: #7A7A7A !important;
 }
  ::ng-deep.mat-form-field-underline {
color: #072D5B!important;
} 
  ::ng-deep.mat-form-field-input {
color: #072D5B!important;
font-size: 18px;
} 
#mat-input-0 {
font-size: 20px;
}
.Forgo {
cursor: pointer;
float: right;
 margin-top: 0px;
color: #EE5C4D;
}
.loginButn{
   width: 100%;
   height: 44px;
margin: 0;
border: 0;
font-size: 18px;
font-weight: 700;
color: white;
background: #EE5C4D;
border-radius: 6px;
}

.dataForgot{
    margin: 0 15%;
    text-align: center;
}
.dataForgot .title{
    font-family: 'Proxima Nova Soft';
font-style: normal;
font-weight: 700;
font-size: 32px;
text-align: center;
color: #092963;
margin-top: 9.06%;
line-height: 39px;
}
.dataForgot .discription{
    margin-top: 5.03%;
    margin-bottom: 6.25%;
    color: #092963;
    line-height: 26px;

} 
mat-input , input{
font-size: 20px;
}
.button1 {
  margin-top: 38px;
}
.otpVal{
    margin: 0 3.5%;
    height: 57px;
    display: flex;
    justify-content: space-between;
    grid-template-columns: repeat(4,auto);
}
.otpInput{
width: 59px;
  width: 17%;
height: 47px;
    border-bottom: 2px solid darkgreen;
}
.otpUser{
    text-align: center  ;
    width: 3vw;
height: 4.6vh;
padding-bottom: 0;
border: 0; 
}
.resend{
    margin-top: 20px;
    text-align: center;
    color: #6B7FA1;
    font-weight: 700;
    font-size: 20px; 
}
span{
    color: #EE5C4D;
       
}