<div class="container">
  <div class="box">
    <div class="logo">
      <img src=" assets/logo_splash.png" alt="logo" />
    </div>
    <div class="dataForgot">
      <div class="title">Verification</div>
      <div class="discription">
        Please fill in the verification code that has been sent to your Email
        ID.
      </div>
      <div class="otpVal">
          <div class="otpInput"><input class="otpUser"type="text"></div>
          <div class="otpInput"><input class="otpUser"type="text"></div>
          <div class="otpInput"><input class="otpUser"type="text"></div>
          <div class="otpInput"><input class="otpUser"type="text"></div>
      </div>
      <div class="resend">Didn’t receive a code? <span (click)="resend()">Resend</span> </div>
       <div class="button1" routerLink="/password">
                <button class="loginButn">Verify</button>
        </div>
    </div>
  </div>
</div>
