
<div id="container">
  <div class="navbar">
    <div>
      <!-- <app-side-nav></app-side-nav> -->
    </div>
    </div>
    <div class="head">
      <!-- <app-header></app-header> -->
    </div>
    <div class="contentBox"  >
     
      <div class="dialogBox" >
        <div>
          <div class="delete">
            <div >
              <mat-icon (click)="captureScreenData()">save_alt</mat-icon>
            </div>
            <div ><mat-icon mat-dialog-close>clear</mat-icon></div>
          </div>
          
          <div class="cup">
            <img src="/assets/image 1.png">
           </div>
          <div>
          <div class="para">Certificate&nbsp;of&nbsp;completion</div>
          <div class="name">{{this.completeDetails[0].fullName}}</div>
          <div class="course" >{{this.completeDetails[0].courseName}}</div>
          <div class="time">
          <div>Joined:{{this.completeDetails[0].joinDate}}</div>  
          <li>Completed:{{this.completeDetails[0].completedDate}}</li>
          <li>time:{{this.completeDetails[0].courseDuration}}</li>
          </div>
          <div class="time">Certificate&nbsp;No:{{this.completeDetails[0].certificateNo}}</div>
        </div>
         <div class="footer">
          <img  class="image" src="/assets/img_virtuallearn logo_splash 2.png">
         </div>
        </div>
      </div>
     
    </div>
    
</div>



<!-- <div id="container">
  <div class="navbar">
    <div>
      <app-side-nav></app-side-nav>
    </div>
    </div>
    <div class="head">
      <app-header></app-header>
    </div>
    <div class="contentBox"  >
     
      <div class="dialogBox" >
        <div>
          <div class="delete">
            <div >
              <mat-icon (click)="captureScreenData()">save_alt</mat-icon>
            </div>
            <div ><mat-icon mat-dialog-close>clear</mat-icon></div>
          </div>
          
          <div class="cup">
            <img src="/assets/image 1.png">
           </div>
          <div>
          <div class="para">Certificate&nbsp;of&nbsp;completion</div>
          <div class="name">Mahendra Singh Dhoni</div>
          <div class="course" >User&nbsp;interface&nbsp;with&nbsp;illustration</div>
          <div class="time">
          <div>Joined:</div>  
          <li>Completed:</li>
          <li>time</li>
          </div>
          <div class="time">Certificate&nbsp;No:</div>
        </div>
         <div class="footer">
          <img  class="image" src="/assets/img_virtuallearn logo_splash 2.png">
         </div>
        </div>
      </div>
     
    </div>
    
</div> -->