<div class="container">
  <div class="navbar">
    <!-- <div>
        <app-side-nav></app-side-nav>
      </div>
      </div>
      <div class="head">
        <app-header></app-header>
      </div> -->
    <div class="contentBox">
      <div class="dialogBox">
        <div class="delete">Delete&nbsp;Video</div>
        <div class="para">
          Are you sure want to delete the video <span>"{{ completeDetails.courseName }}"</span>  from the Recently courses added
        </div>
        <!-- <div class="para">"{{ completeDetails.courseName }}"</div>
        <div class="para">Recently&nbsp;courses&nbsp;added</div> -->
        <div class="button">
          <button type="submit" mat-dialog-close>Cancel</button>
          <button type="submit" mat-dialog-close (click)="deleteCourse()">
            Delete
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
