<div class="container">
    <div class="navbar">
      <!-- <div>
        <app-side-nav></app-side-nav>
      </div>
      </div>
      <div class="head">
        <app-header></app-header>
      </div> -->
      <div class="contentBox" >
        <div class="dialogBox">
            <div class="delete">Delete&nbsp;Video</div>
            <div class="para">Are&nbsp;you&nbsp;sure&nbsp;want&nbsp;to&nbsp;delete&nbsp;the&nbsp;video</div>
            <div class="para">"The&nbsp;drawing&nbsp;course&nbsp;Beginer&nbsp;to&nbsp;advanced"&nbsp;from the</div>
            <div class="para">Recently&nbsp;courses&nbsp;added</div>
            <div class="button">
                <button type="submit" mat-dialog-close>Cancel</button>
                <button type="submit" mat-dialog-close>Delete</button>
            </div>
        </div>
      </div>
    </div>
