
<div class="container">
    <div class="navbar">
        <app-side-nav></app-side-nav>
    </div>
    <div class="head">
<app-header></app-header>
    </div>
    <div class="contentBox">
        <div class="studentList" >
            <table >
              <tr>
                <th><p></p></th>
                <th>
                  <div class="tablehead">
                    <p>Name</p>
                    <p class="icon">
                      <mat-icon>keyboard_arrow_up</mat-icon>
                      <mat-icon>keyboard_arrow_down</mat-icon>
                    </p>
                  </div>
                </th>
                <th>
                  <div class="tablehead">
                    <p>Joined&nbsp;date</p>
                    <p class="icon">
                      <mat-icon>keyboard_arrow_up</mat-icon>
                      <mat-icon>keyboard_arrow_down</mat-icon>
                    </p>
                  </div>
                </th>
                <th>
                  <div class="tablehead">
                    <p>course&nbsp;title</p>
                    <p class="icon">
                      <mat-icon>keyboard_arrow_up</mat-icon>
                      <mat-icon>keyboard_arrow_down</mat-icon>
                    </p>
                  </div>
                </th>
                <th>
                  <div class="tablehead">
                    <p>Completed&nbsp;date</p>
                    <p class="icon">
                      <mat-icon>keyboard_arrow_up</mat-icon>
                      <mat-icon>keyboard_arrow_down</mat-icon>
                    </p>
                  </div>
                </th>
                <th>
                  <div class="tablehead">
                    <p>Status</p>
                    <p class="icon">
                      <mat-icon>keyboard_arrow_up</mat-icon>
                      <mat-icon>keyboard_arrow_down</mat-icon>
                    </p>
                  </div>
                </th>
                <th>
                  <div class="tablehead">
                    <p>Subscribe</p>
                    <p class="icon">
                      <mat-icon>keyboard_arrow_up</mat-icon>
                      <mat-icon>keyboard_arrow_down</mat-icon>
                    </p>
                  </div>
                </th>
                
              </tr>
              <tr *ngFor="let d of data;let i = index">
               
                <td>
                  <div (click)="toDelete(i)">
                  <div class="btn" *ngIf="!todelete[i]">
                    <mat-icon >check_box_outline_blank</mat-icon>
                  </div>
                  <div class="btn1" *ngIf="todelete[i]">
                    <mat-icon >check_box</mat-icon>
                  </div>
                </div>
                </td>
                <td>
                  <div class="profile">
                    <img class="proimage" src="{{d.profilePhoto}}" />
                    <p>{{d.fullName}}</p>
                  </div>
                </td>
                <td><div class="startdate">{{d.joinDate}}</div></td>
                <td>
                  <div class="cline">
                    {{d.courseName}}
                  </div>
                </td>
                {{ onComplete(i)}}
                <td><div class="startdate">{{d.completedDate}}</div></td>
                <td>
                  <div class="complete" *ngIf="complete">
                    <div class="color"><mat-icon>lens</mat-icon></div>
                    <div class="comline">Completed</div>
                  </div>
                  
                  <div class="ongoing" *ngIf="ongoing">
                    <div class="color1"><mat-icon>lens</mat-icon></div>
                    <div class="comline1">on&nbsp;Going</div>
                  </div>
                </td>
                
                <td>
                  {{toSubscribe(i)}}
                  <div (click)="subscribe(d,i)">
                    <!-- <mat-slide-toggle color="primary" [(ngModel)]="isSubscribed"  ></mat-slide-toggle> -->
                  <div *ngIf="sub[i]">
                    <img src="/assets/Switch on.png">
                  </div>
                  <div *ngIf="!sub[i]">
                    <img src="/assets/Switch off.png">
                  </div>
                  </div>
                </td>
                <div class="toDelete" *ngIf="todelete[i]">
                  <mat-icon (click)="deleteStudent(d)">delete</mat-icon>
                </div>
              </tr>
            </table>
           
          </div>
          <div class="load" [class.disable]="dis" >
            <button type="submit" (click)="load()"  [disabled]="dis">Load&nbsp;more</button>
          </div>
          
    </div>
</div>
