.contentBox{
    box-sizing: border-box;


position: absolute;
width: 80.1%;
/* height: 88%; */
height: 61rem;
right: 0;
top: 127px;
left: 24vw;
background: #F9F9F9;
border-radius: 38px 0px 0px 38px;
/* border:1px solid #000; */

}
.icon {
    height: 3vh;
    display: flex;
    flex-direction: column;
   gap:0;
    font-size: 1rem;
    /* border: 1px solid #000; */
   
}
.icon mat-icon{
    font-size: 1rem;
    color: #B3B3B3;
}
.tablehead{
    display:flex;
    align-items: center;
    justify-content: space-between;
    /* gap:7rem; */
   
    
    
   
}
table{
    width: 96%;
    margin:2%;
   
    
}
.tablehead p:first-child{
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1.25rem;
    color: #B3B3B3;
}

.studentList{
    position: absolute;
    top:2%;
    /* left: 2%; */
    width:93%;
    height: 75%;
    /* height: 50rem; */
    overflow: scroll;
    background-color: #fff;
    /* border: 1px solid #000; */
}
.studentList::-webkit-scrollbar{
    display: none;
}



table, th,td {
    border: 1px solid rgba(102, 102, 102, 0.08);
    border-collapse: collapse;
    
    
    
  }
  td div{
    
    text-align: center;
  }
  td{
    padding: 7px;
  }
.proimage{
    height: 15%;
    width:15%;
border: 1px solid rgba(102, 102, 102, 0.24);
border-radius: 50%;
}

.profile{
display: flex;
flex-direction: row;
gap:1rem;
align-items: center;
}
.profile p{
    font-family: 'Rubik', sans-serif;
font-style: normal;
font-weight: 600;
font-size: .875rem;
line-height: 1rem;
color: #1A1A1A;
margin: 1%;
}
.btn mat-icon {
    font-size: 1rem;
    color: #B3B3B3;
}

.color mat-icon{
color: #1EAB0D;
font-size: .5rem;
text-align: center;
}
.color1 mat-icon{
    color:#F7B055;
    font-size: .5rem;
    }
.complete,.ongoing{
    display: flex;
    flex-direction: row;
    align-items: center;
   
}
.startdate{
    font-family: 'Rubik', sans-serif;
font-style: normal;
font-weight: 400;
font-size: .875rem;
line-height: 1rem;
color: #666666;
}
.cline{
    font-family: 'Rubik', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 0.875rem;
line-height: 1rem;
color: #1A1A1A;
align-items: flex-start;

}
.comline{
    font-family: 'Rubik', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 0.875rem;
line-height: 1rem;
color: #1EAB0D;
}
.comline1{
    font-family: 'Rubik', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 0.875rem;
line-height: 1rem;
color: #666666;
}
.load{
    position: absolute;
    bottom: 12%;
    left:50%;
   
}

.load button{
    padding: 20%;
    font-family: 'Rubik', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 0.875rem;
line-height: 1.875rem;
color: #092963;
background: rgba(9, 41, 99, 0.5);
border-radius: 4px;
outline: none;
border: none;
cursor: pointer;
}

    .disable button{
        background: rgba(9, 41, 99, 0.1);
        color: #697894;
        
        
    }
    .toDelete mat-icon{
        color:rgb(216, 84, 84);
        margin:1%;
        margin-block-start: 1rem;
        font-size: 2rem;
        
    }
    .todelete mat-icon:hover{
        color:#000
     }
    .btn1 mat-icon{
        color:#1EAB0D
    }
    
    .del{
        font-family: 'Rubik', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 0.875rem;
        line-height: 1rem;
        color: #1A1A1A;
        align-items: flex-start;
       
        display: none;
    }
