<div class="container">
    <div class="navbar">
        <app-side-nav></app-side-nav>
    </div>
    <div class="head">
<app-header></app-header>
    </div>
    <div class="contentBox">
        <div class="studentList">
            <table>
              <tr>
                <th><p></p></th>
                <th>
                  <div class="tablehead">
                    <p>Name</p>
                    <p class="icon">
                      <mat-icon>keyboard_arrow_up</mat-icon>
                      <mat-icon>keyboard_arrow_down</mat-icon>
                    </p>
                  </div>
                </th>
                <th>
                  <div class="tablehead">
                    <p>Joined&nbsp;date</p>
                    <p class="icon">
                      <mat-icon>keyboard_arrow_up</mat-icon>
                      <mat-icon>keyboard_arrow_down</mat-icon>
                    </p>
                  </div>
                </th>
                <th>
                  <div class="tablehead">
                    <p>course&nbsp;title</p>
                    <p class="icon">
                      <mat-icon>keyboard_arrow_up</mat-icon>
                      <mat-icon>keyboard_arrow_down</mat-icon>
                    </p>
                  </div>
                </th>
                <th>
                  <div class="tablehead">
                    <p>Completed&nbsp;date</p>
                    <p class="icon">
                      <mat-icon>keyboard_arrow_up</mat-icon>
                      <mat-icon>keyboard_arrow_down</mat-icon>
                    </p>
                  </div>
                </th>
                <th>
                  <div class="tablehead">
                    <p>Status</p>
                    <p class="icon">
                      <mat-icon>keyboard_arrow_up</mat-icon>
                      <mat-icon>keyboard_arrow_down</mat-icon>
                    </p>
                  </div>
                </th>
                <th>
                  <div class="tablehead">
                    <p>Subscribe</p>
                    <p class="icon">
                      <mat-icon>keyboard_arrow_up</mat-icon>
                      <mat-icon>keyboard_arrow_down</mat-icon>
                    </p>
                  </div>
                </th>
              </tr>
              <tr>
                <td>
                  <div class="btn">
                    <mat-icon>check_box_outline_blank</mat-icon>
                  </div>
                </td>
                <td>
                  <div class="profile">
                    <img class="proimage" src="/assets/mg 1.png" />
                    <p>Virat&nbsp;Kohli</p>
                  </div>
                </td>
                <td><div class="startdate">10/12/2022</div></td>
                <td>
                  <div class="cline">
                    The&nbsp;drawing&nbsp;course&nbsp;Beginer&nbsp;to&nbsp;advanced
                  </div>
                </td>
                <td><div class="startdate">10/12/2022</div></td>
                <td>
                  <div class="complete">
                    <div class="color"><mat-icon>lens</mat-icon></div>
                    <div class="comline">Completed</div>
                  </div>
                  <!-- <div class="ongoing">
                    <div class="color1"><mat-icon>lens</mat-icon></div>
                    <div class="comline1">on&nbsp;Going</div>
                  </div> -->
                </td>
                <td>
                  <div>
                    <mat-slide-toggle color="primary" [(ngModel)]="isSubscribed"></mat-slide-toggle>
                  </div>
                </td>
              </tr>
            </table>
            <div class="load">
              <button type="submit">Load&nbsp;more</button>
            </div>
          </div>
          
    </div>
</div>
