<div class="container">
  <div class="box">
    <div class="logo">
      <img src=" assets/logo_splash.png" alt="logo" />
    </div>
    <form [formGroup]="signUpForm">
      <div class="dataForgot">
        <div class="personal">
          <!-- <label for="upLoadProfile">
            
            <div class="default">
              <mat-icon class="addButton">add_a_photo</mat-icon>
              <img class=dp [src]="url" *ngIf="imageAvail" alt="">
              <img class="dp"  *ngIf="!imageAvail" src="/assets/mg 1.png" alt="" />
            </div>  
          </label> -->
          <input type="file" name="" id="upLoadProfile" type="file" accept=""  (change)="onSelectDp($event)">
          <div class="username">
            <mat-form-field class="example-full-width">
              <mat-label>Full Name</mat-label>
              <input matInput formControlName="userName" />
            </mat-form-field>
          </div>
          <div class="username">
            <mat-form-field class="example-full-width">
              <mat-label>Email</mat-label>
              <input matInput formControlName="email" />
            </mat-form-field>
          </div>
          <div class="username">
            <mat-form-field class="example-full-width">
              <mat-label>Phone</mat-label>
              <span matPrefix>+91 &nbsp;</span>
              <input
                matInput
                maxlength="10"
                formControlName="mob"
                (keypress)="checkNum($event)"
              />
            </mat-form-field>
          </div>
          <div class="username">
            <mat-form-field class="example-full-width">
              <mat-label>Password</mat-label>
              <input type="password" matInput formControlName="password" />
            </mat-form-field>
          </div>
          
        </div>

        <div class="description">
          <div>
            <div class="about">About You</div>
            <textarea class="textArea"></textarea>
            
            <div class="username">
              <mat-form-field class="example-full-width">
                <mat-label>Designation</mat-label>
                <input matInput formControlName="designation" />
              </mat-form-field>
            </div>
            <div class="username">
              <mat-form-field class="example-full-width">
                <mat-label>Link</mat-label>
                <input matInput formControlName="urlLink" />
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
    </form>
    <div class="button3">
      <button class="loginButn"  (click)="request()">
        Send Request
      </button>
    </div>
  </div>
</div>
