<div class="container">
  <div class="navbar">
    <app-side-nav></app-side-nav>
  </div>
  <div class="head">
    <app-header></app-header>
  </div>
  <div class="contentBox">
    <div class="innerNav">
      <div class="nav">
        <div class="itemNav" [class.active]="video" (click)="openVideo()">
          Video Upload
        </div>
        <div class="itemNav" [class.active]="qAndA" (click)="openQAndA()">
          Question and Answer
        </div>
        <div class="itemNav" [class.active]="certificate" (click)="openCer()">
          Certificate Template
        </div>
        <div class="Addnew" *ngIf="qAndA">
          <button class="btnAddnew">Add new +</button>
        </div>
      </div>
    </div>
    <div class="content" *ngIf="video">
      <app-video></app-video>
    </div>
    <div class="content" *ngIf="qAndA">
      <app-q-and-a></app-q-and-a>
    </div>
    <div class="content" *ngIf="certificate">
      <app-certificate></app-certificate>
    </div>
  </div>
  </div>
