.onSave {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background: #fff;
}
.display {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-left: 2%;
}
.display input {
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #2b2b2b;
}
.delete {
  float: right;
  cursor: pointer;
}
button {
  float: right;
  outline: none;
  border: none;
  background: #ee5c4d;
  border-radius: 6px;
  padding: 2%;
  color: white;
  padding-left: 5%;
  padding-right: 5%;
  margin-block-start: 2%;
  cursor: pointer;
}
