<div class="item">
  <form [formGroup]="chapForm">
    <div class="chapName">Select Chapter Name</div>
    <div class="input /">
      <div>
        <input
          class="titleInput"
          type="list"
          list="browsers"
          formControlName="chaptername"
        />
        <div
          *ngIf="chapForm.get('chaptername')?.errors?.['required'] && chapForm.get('chaptername')?.touched"
          class="require"
        >
          Please select the chapter name
        </div>
        <datalist id="browsers">
          <option value="Internet Explorer"></option>
          <option value="Firefox"></option>
          <option value="Google Chrome"></option>
          <option value="Opera"></option>
          <option value="Safari"></option>
        </datalist>
      </div>
    </div>
    <div class="chapName">Duration</div>
    <div>
      <input class="titleInput" formControlName="duration" />
    </div>
    <div
      *ngIf="chapForm.get('duration')?.errors?.['required'] && chapForm.get('duration')?.touched"
      class="require"
    >
      This is required field*
    </div>
    <div class="chapName">Module&nbsp;Test</div>
    <div>
      <input class="titleInput" formControlName="moduleTest" />
    </div>
    <div
      *ngIf="chapForm.get('moduleTest')?.errors?.['required'] && chapForm.get('moduleTest')?.touched"
      class="require"
    >
      This is required field*
    </div>
    <div class="currPage">5 of 44</div>
  </form>
</div>
<!-- <div class="question" *ngFor="let qn of questionList;let i=index"> -->
<div
  class="question"
  [formGroup]="questionForm"
  *ngFor="let optionForm of question.controls; let i = index"
>
  <ng-container formArrayName="questionText">
    <div [formGroupName]="i">
      <!-- <div class="Qnum">Question {{i+1}}</div> -->
      <div class="Qnum">Question {{ i + 1 }}</div>
      <div class="details">
        <div class="qn">
          <!-- {{qn?.questionText}}  -->
          <input placeholder="Enter the question" formControlName="question" />
          <div
            *ngIf="optionForm.get('question')?.errors?.['required'] && optionForm.get('question')?.touched"
            class="require"
          >
            Please enter the question
          </div>
          <!-- What is load balancing, and why is it important to system design? -->
        </div>
        <div class="deleteChoice">
          <div style="margin-right: 2vw">
            <mat-icon (click)="deleteOption(i)">delete</mat-icon>
          </div>
          <div class="more" (click)="show(i)">
            <mat-icon *ngIf="!plus">add</mat-icon>
            <mat-icon *ngIf="plus"> remove</mat-icon>
          </div>
        </div>
      </div>
      <div class="options" *ngIf="plus">
        <!-- <div class="opt" *ngFor="let option of questionList[i]?.options"> -->
        <div class="opt" formGroupName="option1">
          <!-- <div>{{option.text}}</div> -->
          <input placeholder="a" formControlName="opt" />
          <div class="transform">
            <mat-slide-toggle
              color="primary"
              formControlName="ans"
            ></mat-slide-toggle>
          </div>
        </div>
        <div class="opt" formGroupName="option2">
          <input placeholder="b" formControlName="opt" />
          <div class="transform">
            <mat-slide-toggle
              color="primary"
              formControlName="ans"
            ></mat-slide-toggle>
          </div>
        </div>
        <div class="opt" formGroupName="option3">
          <input placeholder="c" formControlName="opt" />
          <div class="transform">
            <mat-slide-toggle
              color="primary"
              formControlName="ans"
            ></mat-slide-toggle>
          </div>
        </div>
        <div class="opt" formGroupName="option4">
          <input placeholder="d" formControlName="opt" />
          <div class="transform">
            <mat-slide-toggle
              color="primary"
              formControlName="ans"
            ></mat-slide-toggle>
          </div>
        </div>
        <div
          *ngIf="questionForm.get('opt')?.errors?.['required']&& questionForm.get('opt')?.touched "
          class="require"
        >
          Please enter the option
        </div>
        
        <div
          *ngIf="(newQuestion().get('ans')?.errors?.['required']) && (newQuestion().get('ans')?.touched  )"
          class="require"
        >
          Please select the correct answer
        </div>
        
      </div>
      
    </div>
  </ng-container>
<div>
  <button class="sub" (click)="add()" [disabled]="!optionForm.valid">
    Add+
  </button>
</div>
  
</div>
<!-- <div class="border"> -->
<!-- <div class="footer">
  <div class="prev">
    <button class="previous">PREVIOUS</button>
  </div>
  <div class="pageNo">
    <div class="roundPage">1</div>
    <div class="roundPage">2</div>
    <div class="roundPage">3</div>
  </div>
  <div class="nxt1">
    <button class="next1">NEXT</button>
  </div>
  <div>
    <button class="buttonSave">Save</button>
  </div>
</div> -->
