.currPage {
  float: right;
  top: 437px;
  right: 95px;
}

.question {
  margin-top: 30px;
  margin-bottom: 20px;
  height: fit-content;
  padding: 31px;
  width: 94.6%;
  height: fit-content;
  border-radius: 8px;
  background-color: white;
}
.Qnum {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.4px;
  color: #989898;
}
.item {
  height: fit-content;
  padding: 31px;
  width: 94.6%;
  height: fit-content;
  border-radius: 8px;
  background-color: #ffffff;
}
.titleInput {
  width: 24.3vw;
  font-size: 20px;
  height: 22px;
  background: #ffffff;
  border: 1px solid #d5d4dc;
  border-radius: 8px;
  order: 1;
  padding: 12px;
  align-self: stretch;
}

.question .details {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #2b2b2b;
}
.deleteChoice {
  display: flex;
}
.options {
  display: grid;
  margin-top: 2px;
  grid-template-columns: auto auto;
  gap: 40px;
}
.opt {
  background: #fdfdfd;
  border: 1px solid #d5d4dc;
  border-radius: 4px;
  display: flex;
  width: 29vw;
  justify-content: space-between;
  padding: 2vh 1vw;
}

.footer {
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  column-gap: 60px;
  justify-content: center;
  color: #092963;
  margin-bottom: 8vh;
}
.previous,
.next1 {
  width: 75px;
  height: 40px;
  background: #dfe2e9;
  color: #092963;
}
.chapName {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.4px;
  color: #232323;
  margin-bottom: 8px;
}

.roundPage {
  font-weight: 400;
  width: 21px;
  height: 21px;
  text-align: center;
  letter-spacing: 0.15px;

  color: #092963;
}
.pageNo {
  display: flex;
  align-items: center;
  column-gap: 31px;
  justify-content: space-around;
}

.roundPage:hover {
  background: #dfe2e9;
  border-radius: 40px;
}
.buttonSave {
  position: absolute;
  right: 2.2vw;
  width: 14vw;
  background: #ee5c4d;
  border-radius: 6px;
  height: 44px;
  color: white;
}

.addnew {
height: fit-content;
margin-top: 2vw;
}