<div class="container">
  <div class="box">
    <div class="logo">
      <img src=" assets/logo_splash.png" alt="logo" />
    </div>
    <div class="dataForgot" >
        <div class="title">Create New Password</div>
      <div class="discription">
        Your password must have at least 6 or more characters
      </div>
                            <div class="username">
                                <mat-form-field class="example-full-width">
                                <mat-label>New Password</mat-label>
                                <input class="password"
                                    type="password" matInput />
                                </mat-form-field>
                            </div>
                            <div class="pass">
                                <mat-form-field class="example-full-width">
                                <mat-label>Confirm Password</mat-label>
                                <input
                                    class="password"
                                    type="password"
                                    style="-webkit-text-security: square"
                                    matInput
                                />
                                </mat-form-field>
                            </div>
                            <div class="button1" routerLink="/">
                                <button class="loginButn" >Reset Password</button>
                            </div>
        </div>
  </div>
</div>