<div class="container">
  <div class="box">
    <div class="logo">
      <img src=" assets/logo_splash.png" alt="logo" />
    </div>
    <div class="dataForgot" >
        <div class="title">Create New Password</div>
      <div class="discription">
        Your password must have at least 6 or more characters
      </div>
      <form [formGroup]="passwordForm">
                            <div class="username">
                                <mat-form-field class="example-full-width">
                                <mat-label>New Password</mat-label>
                                <input class="password"
                                    type="password" matInput formControlName="password" />
                                </mat-form-field>
                            </div>
                            <div class="pass">
                                <mat-form-field class="example-full-width">
                                <mat-label>Confirm Password</mat-label>
                                <input
                                    class="password"
                                    type="password"
                                    matInput formControlName="confirmPasssword"
                                />
                                </mat-form-field>
                            </div>
                            <div class="title" style="color:red" *ngIf="mismatch">
                                Check Password Again!!!
                            </div>
                            <div class="button1" >
                                <button class="loginButn" [disabled]="passwordForm.invalid" (click)="change()">Reset Password</button>
                            </div>
                            </form>
        </div>
  </div>
</div>