<div class="container">
    <div class="navbar">
        <app-side-nav></app-side-nav>
    </div>
    <div class="head">
<app-header></app-header>
    </div>
    <div class="contentBox">
       
            <div class="day">
                <div class="week">Today</div>
                <div class="date">Wed&nbsp;15,2022&nbsp;|&nbsp;10:00&nbsp;Am</div>
            </div>
            <div class="recentBox">
                <div class="recent">
                    <div class="recentAdd">Recently&nbsp;courses&nbsp;added</div>
                    <div class="view">View&nbsp;all</div>
                </div>
                <div class="videoUpload">
                <div class="video">
                    <div class="videoBox">
                        <img class="image" src="/assets/unsplash_RhGK4qOwxxw.png"> 
                    </div>
                    <div>Poster&nbsp;design&nbsp;tutorial</div>
                    <div>
                        <mat-icon>done</mat-icon>
                    </div>
                </div>
                <div class="icondelete">
                    <mat-icon>delete</mat-icon>
                </div>
            </div>
            <div class="video">
                <div class="videoBox">
                    <img class="image" src="/assets/unsplash_ubIWo074QlU.png"> 
                </div>
                <div class="videoname">
                    <div>Graphic&nbsp;design&nbsp;part&nbsp;1</div>
                    <div class="progressbar">
                        <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
                    </div>
                </div>
            </div>
            </div>
        
    </div>
</div>
