<div class="container">
    <div class="navbar">
        <app-side-nav></app-side-nav>
    </div>
    <div class="head">
<app-header></app-header>
    </div>
    <div class="contentBox">
       
            <div class="day">
                <div class="week">Today</div>
                <div class="date">Wed&nbsp;15,2022&nbsp;|&nbsp;10:00&nbsp;Am</div>
            </div>
            <div class="recentBox">
                <div class="recent">
                    <div class="recentAdd">Recently&nbsp;courses&nbsp;added</div>
                    <div class="view">View&nbsp;all</div>
                </div>
                <div class="video">
                    <div class="videoBox">
                        <img class="image" src="/assets/unsplash_RhGK4qOwxxw.png"> 
                    </div>
                </div>
            </div>
        
    </div>
</div>
