
.videodata {
  display: flex;
  justify-content: flex-start;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}

select{
  font-size: 19px;
width: fit-content;
padding: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border:none;
  margin-top: 8px;
  background: #FCBE4B;
  text-align: center;
}
input[type="file"]{
  display: none;
}
label{
  color:#1E1AF0;
  background-color: white;
  position: absolute;
}

.titleInput {
  width: 24.3vw;
  font-size: 20px;
  height: 22px;
  background: #ffffff;
  border: 1px solid #d5d4dc;
  border-radius: 8px;
  order: 1;
  padding: 12px;
  align-self: stretch;
}
#upload{
  width: 5vw; 
}

.dragAndDrop{
  font-weight: 600;
font-size: 24px;
line-height: 20px;
}
.browse{
  font-weight: 400;
font-size: 18px;
line-height: 20px;
}

.uploader{
  color: #1E1AF0;
}

.ck.ckeditor {
height: 34vh;
overflow-y: scroll;
}
.titleInputV {
  width: 316px;
  font-size: 16px;
  height: 36px;
  background: #ffffff;
  border: 1px solid #d5d4dc;
  border-radius: 8px;
  order: 1;
  padding: 12px;
  padding-top: 0;
  align-self: stretch;
}
.title {
  margin-right: 25px;
}
.videoDiscription {
  margin-top: 40px;
  margin-bottom: 64px;
}
.videoDiscription .overview {
  color: #10002e;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}
.file {
  margin-top: 8px;
  height: 377px;
  width: 60%;
  background-color: #ffffff;
}
.uploadSection {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}
.addNew .btn {
  width: 142px;
  height: 50px;
  background: rgba(9, 41, 99, 0.11);
  font-size: 20px;
  line-height: 30px;
  color: #092963;
}
.top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 23px;
}
.item {
  height: fit-content;
  padding: 31px;
  width: 94.6%;
  height: fit-content;
  border-radius: 8px;
  background-color: #ffffff;
  margin-bottom: 10px;
}
.chapName {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.4px;
  color: #232323;
  margin-bottom: 8px;
}
mat-icon {
  width: 30px;
  height: 30px;
  transform: scale(1.5);
  margin-left: 35px;
}

.item .input {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.options {
  display: flex;
}
.green {
  margin-left: 13px;
  color: #1eab0d;
}
.imgUpload {
  display: flex;
  margin-top: 40px;
  width: 100%;
  height: 38vw;
  /* border: 2px solid turquoise; */
}
.add {
  width: 46.9vw;
  height: 621px;
}
.img {
  height: 50vh;
  width: 46.9vw;
  text-align: center;
  background: rgba(236, 236, 236, 0.17);
  border: 1px dashed #d5d4dc;
}
.available .more {
  height: 5vh;
  width: 46.9vw;
  display: flex;
  gap: 2px;
  margin-top: 30px;
  margin-bottom: 110px;
}
.videoItem {
  width: 6.8vw;
  height: 6.2vh;
  background: rgba(236, 236, 236, 0.17);
  border: 1px dashed #d5d4dc;
}

.next {
  margin-top: 30px;
  height: 44px;
  /* border: 2px solid violet; */
  margin-bottom: 8vh;
}
.nextbtn {
  font-size: 18px;
  color: white;
  float: right;
  height: 44px;
  width: 209.81px;
  background-color: #ee5c4d;
}

.notUpload {
  margin-top: 20%;
  color: #232323;
}
.Subchap {
  /* border: 2px solid tomato; */
  width: 39vw;
  margin-left: 2vw;
  height: 59vh;
}

.Subchap .name {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}
.Subchap .titleInput {
  margin-top: 10px;
  border-color: #d5d4dc;
  max-width: 20.3vw;
}

.btns {
  display: flex;
  gap: 7vw;
  margin-top: 32px;
}
.buttonP,
.buttonN {
  background-color: #ffffff;
  border: 1px solid #d5d4dc;
  width: 7.5vw;
  height: 44px;
  border-radius: 8px;
}
.buttonN {
  background: rgba(9, 41, 99, 0.2);
}
.Addnew {
  position: absolute;
  right: 4vw;
} 
.videoErr{
   font-size: 18px;
  color: white;
  float: right;
  height: 44px;
  width: 209.81px;
  background-color: #D4D4D4;
}
