<form [formGroup]="videoForm">
  <div class="videodata">
    <div class="title">
      <div class="text">Video Title</div>
      <div>
        <input class="titleInput" type="text" formControlName="videoTitle" />
      </div>
    </div>
    <div class="category">
      <div class="text">Video Category</div>
      <div class="titleInputV">
        <select formControlName="category" type="text">
          <option value="" selected>Select Category</option>
          <option
            *ngFor="let item of category"
            [value]="item"
            [selected]="item === 'Design'"
          >
            {{ item }}
          </option>
          <option (click)="addCategory()" value="">Add new +</option>
        </select>
      </div>
    </div>
    <div class="suBcategory">
      <div class="text">Sub Category</div>
      <div class="titleInputV">
        <select formControlName="subCategory" type="text">
          <option value="" selected>Sub Category</option>
          <option
            *ngFor="let item of category"
            [value]="item"
            [selected]="item === 'Design'"
          >
            {{ item }}
          </option>
          <option (click)="addCategory()" value="">Add new +</option>
        </select>
      </div>
    </div>
  </div>
  <!-- Top PRT -->
  <div class="userview">
    <div class="uploadSection">Head Text</div>
    <div>
      <textarea class="textarea" formControlName="formatText"></textarea>
    </div>
  </div>
  <!--////////////////////////// TEXT EDITOR \\\\\\\\\\\\\\\\\\\\\\\\\\-->
  <div class="videoDiscription">
    <div class="overview">Add Discription / Overview</div>
    <div class="file">
      <ckeditor [editor]="Editor" formControlName="overview" data=""></ckeditor>
    </div>
  </div>

  <!-- /////// -->

  <div class="title1">
    <div class="uploadSection">
      Upload Support Document *
      <input
        id="upload"
        type="file"
        accept=""
        (change)="supportUpload($event)"
      /><label for="upload">Browse</label>
    </div>
  </div>
  <!--///////////////////////////// LEARNING \\\\\\\\\\\\\\\\\\\\\\\\\\-->
  <div class="userview">
    <div class="uploadSection">What they gain</div>
    <div>
      <textarea class="textarea2" formControlName="learning"></textarea>
    </div>
  </div>

  <!--///////////////////////// Requirement \\\\\\\\\\\\\\\\\\\\\\\\\\-->

  <div class="userview">
    <div class="uploadSection">Requirements</div>
    <div>
      <textarea class="textarea2" formControlName="requirement"></textarea>
    </div>
  </div>
  <div class="title">
    <div class="uploadSection">Keywords</div>
    <div>
      <input class="titleInput" type="text" formControlName="keyWords" />
    </div>
  </div>
  <div class="userview">
    <div class="uploadSection">Difficulty</div>
    <div>
      <select formControlName="level" type="text">
        <option value="" selected>Select Category</option>
        <option [selected] value="Advance">Advance</option>
        <option [selected] value="Advance">Beginner</option>
      </select>
    </div>
  </div>
  <!-- ///////////////////////////////

Video Uplioad SECTIONc CHAPTERS AND SUBCHAPTERS


\\\\\\\\\\\\\\\\\\\\\\\\-->
  <div class="videoUpload">
    <div class="options">
      <div class="uploadSection">Video Upload Section</div>
      <div class="addNew">
        <button class="btn" (click)="add()">Add New +</button>
      </div>
    </div>

    <div
      class="white"
      formArrayName="chapter"
      *ngFor="let item of getControl; let i = index"
    >
      <div [formGroupName]="i">
        <div class="top">
          <div class="chapName">
            Chapter Name
            <div class="input">
              <input
                class="titleInput"
                type="text"
                formControlName="chaptername"
              />
            </div>
          </div>
          <div class="center">
            <div class="icon" *ngIf="false">
              <div><mat-icon class="green">check_circle</mat-icon></div>
              <div class="green">Videos upload successful</div>
            </div>
            <div class="icon" *ngIf="true">
              <div class="green">
                <mat-icon>error</mat-icon>
              </div>
              <div>Upload failed</div>
            </div>
          </div>
          <div class="more" class="center" (click)="show(i)">
            <mat-icon *ngIf="!shows[i]">keyboard_arrow_down</mat-icon>
            <mat-icon *ngIf="shows[i]">keyboard_arrow_up</mat-icon>
          </div>
        </div>
        <div class="imgUpload" *ngIf="shows[i]">
          <div class="container" *ngIf="true">
            <div class="previw"></div>
            <div class="selection"></div>
          </div>
          <div class="container">
            <div class="text">
              <div class="name">Sub Chapter Name</div>
              <div class="inputSubChap">
                <input class="titleInput" type="text" />
              </div>
              <div class="btn">
                <div>
                  <button class="buttonP">Previous</button>
                </div>
                <div class="btnX">
                  <div>
                    <button class="buttonN">Next</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="next">
    <button *ngIf="false" class="nextbtn">Save</button>
    <button class="nextbtn" (click)="publish()">Publish</button>
  </div>
</form>
