<form [formGroup]="videoForm">
  <div class="videodata">
    <div class="title">
      <div class="text">Video Title</div>
      <div>
        <input class="titleInput" type="text" formControlName="videoTitle" />
        <div
          *ngIf="videoForm.get('videoTitle')?.errors?.['required'] && videoForm.get('videoTitle')?.touched"
          class="error1"
        >
          Required
        </div>
      </div>
    </div>
    <div class="category">
      <div class="text">Video Category</div>
      <div class="titleInputV">
        <select formControlName="category" type="text">
          <option value="" selected>Select Category</option>
          <option
            *ngFor="let item of category"
            [value]="item.categoryName"
            [selected]="item === 'Design'"
          >
            {{ item.categoryName }}
          </option>
          <option (click)="addCategory()" value="">Add new +</option>
        </select>
      </div>
      <div
        *ngIf="videoForm.get('category')?.errors?.['required']"
        class="error1"
      >
        Required
      </div>
    </div>
    <!-- <div class="suBcategory">
      <div class="text">Sub Category</div>
      <div class="titleInputV">
        <select formControlName="subCategory" type="text">
          <option value="" selected>Sub Category</option>
          <option
            *ngFor="let item of subcategory"
            [value]="item.categoryName"
            [selected]="item === 'Design'"
          >
            {{ item.categoryName }}
          </option>
          <option (click)="addCategory()" value="">Add new +</option>
        </select>
      </div>
      <div
        *ngIf="videoForm.get('subCategory')?.errors?.['required'] "
        class="error1"
      >
        Required
      </div>
    </div> -->
  </div>

  <!-- Top PRT -->
  <div class="userview">
    <div class="uploadSection">Head Text</div>
    <div
      *ngIf="videoForm.get('formatText')?.errors?.['required'] &&videoForm.get('formatText')?.touched"
      class="error"
    >
      Required
    </div>
    <div>
      <textarea class="textarea2" formControlName="formatText"></textarea>
    </div>
  </div>
  <!--////////////////////////// TEXT EDITOR \\\\\\\\\\\\\\\\\\\\\\\\\\-->
  <div class="videoDiscription">
    <div class="overview">Add Discription / Overview</div>
    <div
      *ngIf="videoForm.get('overview')?.errors?.['required'] &&videoForm.get('overview')?.touched"
      class="error"
    >
      Required
    </div>
    <div class="file">
      <ckeditor [editor]="Editor" formControlName="overview" data=""></ckeditor>
    </div>
  </div>

  <!-- /////// -->

  <div class="title2">
    <div class="uploadSection">
      Upload Support Document *
      <input
        id="upload"
        type="file"
        accept=""
        (change)="supportUpload($event)"
      /><label for="upload">Browse</label>
    </div>
  </div>
  <!--///////////////////////////// LEARNING \\\\\\\\\\\\\\\\\\\\\\\\\\-->
  <div class="userview">
    <div class="uploadSection">What they gain</div>
    <div
      *ngIf="videoForm.get('learning')?.errors?.['required'] &&videoForm.get('learning')?.touched"
      class="error"
    >
      Required
    </div>
    <div>
      <textarea class="textarea2" formControlName="learning"></textarea>
    </div>
  </div>
  minima magnam!
  <!--///////////////////////// Requirement \\\\\\\\\\\\\\\\\\\\\\\\\\-->

  <div class="userview">
    <div class="uploadSection">Requirements</div>
    <div
      *ngIf="videoForm.get('requirement')?.errors?.['required'] &&videoForm.get('requirement')?.touched"
      class="error"
    >
      Required
    </div>
    <div>
      <textarea class="textarea2" formControlName="requirement"></textarea>
    </div>
  </div>
  <div class="title">
    <div class="uploadSection">Keywords</div>
    <div
      *ngIf="videoForm.get('keyWords')?.errors?.['required'] &&videoForm.get('keyWords')?.touched"
      class="error"
    >
      Required
    </div>
    <div>
      <input class="titleInput" type="text" formControlName="keyWords" />
    </div>
  </div>
  <div class="userview">
    <div class="uploadSection">Difficulty</div>
    <div
      *ngIf="videoForm.get('level')?.errors?.['required'] &&videoForm.get('level')?.touched"
      class="error"
    >
      Required
    </div>
    <div>
      <select formControlName="level" type="text">
        <option value="" selected>Select Category</option>
        <option [selected] value="Advance">Advance</option>
        <option [selected] value="Advance">Beginner</option>
      </select>
    </div>
  </div>
  <!-- ///////////////////////////////

Video Uplioad SECTIONc CHAPTERS AND SUBCHAPTERS


\\\\\\\\\\\\\\\\\\\\\\\\-->
  <div class="videoUpload">
    <div class="options">
      <div class="uploadSection">Video Upload Section</div>
      <div class="addNew">
        <button class="btn" (click)="addChapter()">Add New +</button>
        <!-- [disabled]="videoForm.invalid" -->
      </div>
    </div>

    <div
      class="white"
      formArrayName="chapter"
      *ngFor="let item of chapters().controls; let chapIndex = index"
    >
      <div [formGroupName]="chapIndex">
        <div class="top">
          <div class="chapName">
            Chapter Name
            <div class="input">
              <input
                class="titleInput"
                type="text"
                formControlName="chapterName"
              />
            </div>
          </div>
          <div class="center">
            <div class="icon" *ngIf="uploadSuccess[chapIndex]">
              <div><mat-icon class="green">check_circle</mat-icon></div>
              <div class="green">Videos upload successful</div>
            </div>
            <div class="icon" *ngIf="uploadFailed[chapIndex]">
              <div class="green">
                <mat-icon>error</mat-icon>
              </div>
              <div>Upload failed</div>
            </div>
          </div>
          <div class="more" class="center" (click)="show(chapIndex)">
            <mat-icon *ngIf="!shows[chapIndex]">keyboard_arrow_down</mat-icon>
            <mat-icon *ngIf="shows[chapIndex]">keyboard_arrow_up</mat-icon>
          </div>
        </div>
        <div class="imgUpload" *ngIf="shows[chapIndex]">
              <div class="left">
                <div class="preview"></div>
                <div class="bottomDisplay">
                    <div class="videoScroll" formArrayName="subChapter">
                      <div  class="box" *ngFor="let sub of subChapters(chapIndex).controls; let subIndex = index" >
                        <div  [formGroupName]="subIndex">

                        </div>
                        <button class="buttonN" (click)="addSubChapter(subIndex)">Add</button>
                      </div>
                    </div>
                </div>
              </div>
              <div class="right">
                <div class="subchapName">
                  Sub Chapter Name
                  <div class="input">
                    <input
                      class="titleInput"
                      type="text"
                      formControlName="subChapterName"
                    />
                  </div>
                </div>
                
                
              </div>
        </div>
      </div>
    </div>
    <div class="next">
      <button *ngIf="false" class="nextbtn">Save</button>
      <button class="nextbtn" (click)="publish()">Publish</button>
    </div>
  </div>
</form>
