.test {
  width: 180px;
  height: 120px;
}

.videodata {
  display: flex;
  justify-content: flex-start;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}
.text may
.transparent {
  background-color: #ffffff;
  height: 38px;
  width: 128px;
}
.videoUpload {
  margin-top: 10px;
}
.error1 {
  color: red;
  margin-top: 20px;
}
.error {
  color: red;
  margin: 5px 0;
}
select {
  font-size: 19px;
  width: fit-content;
  padding: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  background-color: #fcbe4b;
  margin-top: 8px;
  text-align: center;
}
/* select option{
  
} */
input[type="file"] {
  display: none;
}
label {
  color: #1e1af0;
  background-color: white;
  position: absolute;
}

.titleInput {
  width: 18.3vw;
  font-size: 20px;
  height: 22px;
  background: #ffffff;
  border: 1px solid #d5d4dc;
  border-radius: 8px;
  order: 1;
  padding: 12px;
  align-self: stretch;
 
}
#upload {
  width: 5vw;
}

.dragAndDrop {
  font-weight: 600;
  font-size: 24px;
  line-height: 20px;
}
.browse {
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
}

.uploader {
  color: #1e1af0;
}

.ck.ckeditor {
  height: 34vh;
  overflow-y: scroll;
}
.titleInputV {
  margin-right: 15px;
width: 186px;
  font-size: 16px;
  height: 36px;
  background: #ffffff;
  border: 1px solid #d5d4dc;
  border-radius: 8px;
  order: 1;
  padding: 12px;
  padding-top: 0;
  align-self: stretch;
   padding-left: 4px;
width: 190px;
}
.title {
  margin-right: 25px;
}
.videoDiscription {
  margin-top: 40px;
  margin-bottom: 64px;
  overflow-y: scroll;
}
.videoDiscription .overview {
  color: #10002e;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}
.file {
  margin-top: 8px;
  height: 377px;
  width: 60%;
  background-color: #ffffff;
}
.uploadSection {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.addNew .btn {
  width: 142px;
  height: 50px;
  background: rgba(9, 41, 99, 0.11);
  font-size: 20px;
  line-height: 30px;
  color: #092963;
}
.white {
  background-color: white;
  margin-bottom: 4vh;
  padding: 18px;
}
.notUpload {
  margin-top: 123px;
  text-align: center;
}
.top {
  padding: 5px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0px;
  background-color: #ffffff;
}
.item {
  height: fit-content;
  padding: 31px;
  width: 94.6%;
  height: fit-content;
  border-radius: 8px;
  background-color: #ffffff;
  margin-bottom: 10px;
}
.chapName {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.4px;
  color: #232323;
  margin-bottom: 8px;
}
mat-icon {
  width: 30px;
  height: 30px;
  transform: scale(1.5);
  margin-left: 35px;
}
.icon {
  display: flex;
}

.item .input {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.options {
  display: flex;
  justify-content: space-between;
  margin-top: 9vh;
  margin-bottom: 4vh;
}
.box1 {
  height: 90px;
  width: 90px;
}
.green {
  margin-left: 13px;
  color: #1eab0d;
}
.imgUpload {
  display: flex;
  margin-top: 40px;
  width: 100%;
  padding-bottom: 10px;
  height: 39vw;
}
.full {
  width: 47%;
  height: 55%;
  position: absolute;
}
.contain1 {
  text-align: center;
  padding-top: 10px;
}
.container {
  width: 50%;
  border: 2px solid turquoise;
}
.preview {
  border: 2px dashed rgb(14, 13, 13);

  position: absolute;
  width: 47%;
  height: 45%;
}

.contain {
  height: 100%;
  width: 100%;
}
.text {
  padding: 15px;
}

.buttonP,
.buttonN {
  background-color: #ffffff;
  border: 1px solid #d5d4dc;
  width: 10.5vw;
  height: 40px;
  border-radius: 8px;
}
.buttonN {
  background: rgba(9, 41, 99, 0.2);
  margin-left: 10px;
}

.hund {
  height: 100%;
  width: 100%;
}

.btn {
  padding: 8px;
  padding-left: 19px;
  margin-top: px;
  display: flex;
  justify-content: space-between;
}
.btn1 {
  padding: 8px;
  padding-left: 19px;
  margin-top: 25px;
  display: flex;
  justify-content: center;
}

.title1 {
  margin: 10px 0;
}
.userview {
  margin: 35px 0;
}
textarea {
  min-width: 510px;
  max-width: 510px;
  min-height: 250px;
  max-height: 250px;
  overflow-y: scroll;
  font-size: 18px;
  margin-bottom: 10px;
}
.textarea2 {
  min-width: 510px;
  max-width: 510px;
  min-height: 150px;
  max-height: 150px;
  overflow-y: scroll;
  font-size: 18px;
  margin-bottom: 10px;
}
.nextbtnp{
  font-size: 18px;
  color: rgb(255, 255, 255);
  float: right;
  height: 44px;
  width: 209.81px;
  background-color: #ee5c4d;
}
.nextbtn {
  font-size: 18px;
  color: white;
  float: right;
  height: 44px;
  width: 209.81px;
  background-color: #8f7774;
  margin-right: 20px;
}
.subChapter {
  border: 2px solid yellow;
  display: flex;
}
.bottomDisplay {
  position: relative;
  top: 422px;
  height: 18%;
  width: 94%;
}
.left {
  width: 68%;
  height: 100%;
}
.subchapName {
  margin: 10% 0;
  margin-left: 14px;
  font-weight: 600;
  font-size: 14px;
}
.subchapName input {
  margin-top: 10px;
}
.videoScroll {
  margin: 2% 5%;
  /* border: 2px solid green; */
  display: flex;
  overflow: scroll;
  gap: 19px;
  overflow-y: hidden;
}
.box {
  border: 1px dashed #10002e;
  height: 90px;
  min-width: 90px;
}
.contain1{
  position: relative;
}

.right {
  width: 32%;
}

.notUpload > div:nth-child(1) > img:nth-child(2) {
  position: relative;
  top: -84px;
}
.notUpload > div:nth-child(1) {
  height: 117.5px;
}

.relative {
  position: absolute;
}
.absolute {
  position: relative;
  font-size: 20px;
  width: 77%;
}

.takevalue {
  margin-top: 61px;
}
.head {
  margin-left: 5%;
}
.preview{
position: relative;
width: 92%;
height: 82%;
}
.containers{
  position: absolute;
left: 97px;
width: 399.783px;
height: 100%;
}
.containing{
  height: 100%;
  background-color: white;
}
.bottomDisplay{
  position: relative;
  top: 0;
}
.next {
margin-bottom: 30px;
height: 49px;
}
.inputs{
  margin-block-end: 2%;
  display:flex;
}
.btns{
  background: rgba(9, 41, 99, 0.11);
  border-radius: 4px;
  border: none;
  color: #092963;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
 
}
.dis{
  background-color: #ffffff;
  border: 1px solid #d5d4dc;
  width: 10.5vw;
  height: 40px;
  border-radius: 8px;
  opacity:0.3

}
.pub{
  font-size: 18px;
  color: rgb(255, 255, 255);
  float: right;
  height: 44px;
  width: 209.81px;
  background-color: #ee5c4d;
  opacity:0.3;
}
div.title:nth-child(1) > div:nth-child(1) {
padding-top: 27px;
}