body {
  height: 100%;
}
.container {
  background: #092963;
  width: 100%;
  height: 5rem;
  /* margin-left: auto;
    margin-right: auto; */
}
.logo img {
  width: 70%;
}
.admin1 {
  width: 73px;
  border-radius: 50px;
}
.cover {
  width: 89%;
  margin: 3% auto;
}
.admin {
  font-size: 22px;
  font-weight: 700;
  margin-left: 5.3%;
}
.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 5%;
  margin-right: 5%;
}
.person div {
  font-family: "Proxima Nova Soft";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.1875rem;
  text-align: right;
  color: #fff;
}
.overview {
  display: flex;
  justify-content: center;
  margin: 35px 0;
  gap: 14%;
}
.number {
  text-align: center;
  margin-top: 18px;
}
.studentCount3 {
  display: flex;
  font-size: 20px;
  margin: 10px;
}

.notification mat-icon {
  color: #fff;
  font-size: 2rem;
}
.align {
  display: flex;
  gap: 5rem;
  align-items: center;
}
.body {
  background: #f9f9f9;
  height: 87vh;
}
.name{
    margin-left: 10px;
    width: 17%;
}
.desig{
    width: 250.633px;   
}
 button {
  background: #ee5c4d;
  border-radius: 6px;
  border: none;
  font-weight: 400;
  line-height: 17px;
  color: #1a1a1a;
  cursor: pointer;
  padding: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 5px;
}
.list{
     background-color: #fff;
}
.item {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  font-size: 19px;
  padding: 17px 0px;
}
.detail{
    width:64%;
    padding: 0 3%;
    display: flex;
    justify-content: space-between;
    font-size: 17px;
}
.detail span{
    font-weight: 700;
}
.detail div{
    margin-bottom: 10px;
}