<div>
  <div class="container">
    <div class="content">
      <div class="logo">
        <img src="/assets/img_virtuallearn logo_splash 2.png" />
      </div>
      <div class="align">
        <div class="notification">
          <mat-icon matBadge="15" matBadgeColor="warn">notifications</mat-icon>
        </div>
        <div class="person">
          <img src="/assets/Oval Copy 5.png" />
          <div>Dhoni</div>
        </div>
      </div>
    </div>
  </div>
  <div class="body">
    <div class="overview">
      <div class="studentCount3">
        <div class="studentnumber">
          <div class="student">No&nbsp;Of&nbsp;Admin</div>
          <div class="number">{{ adminData.totalNumberOfAdmins }}</div>
        </div>
        <div class="studentimage">
          <img class="admin1" src="assets/admin1.png" />
        </div>
      </div>
      <div class="studentCount3">
        <div class="studentnumber">
          <div class="student">Total&nbsp;Courses</div>
          <div class="number">{{ adminData.totalCourses }}</div>
        </div>
        <div class="studentimage">
          <img src="/assets/course.png" />
        </div>
      </div>
    </div>
    <div class="admin">Admin Request</div>
    <div class="cover">
      <div class="list" *ngFor="let item of request; let reqIndex = index">
        <div>
          <div class="item">
            <div class="name">{{ item.fullName }}</div>
            <div class="desig">{{ item.designation }}</div>
            <div>
              <button (click)="accept(item,reqIndex)">Accept</button>
              <button (click)="reject(item,reqIndex)">Reject</button>
            </div>
            <div (click)="toggle(reqIndex)">
              <mat-icon *ngIf="!array[reqIndex]">keyboard_arrow_down</mat-icon>
              <mat-icon *ngIf="array[reqIndex]">keyboard_arrow_up</mat-icon>
            </div>
          </div>
          <div class="detail" *ngIf="array[reqIndex]">
                <div>
                    <div class="discription">
                           <span>About</span> :{{item.description}}
                    </div>
                    <div class="url">
                            <span>URL:</span> {{item.url}}
                    </div>
                </div>
                <div>
                    <div class="email">
                        <span>Email:</span>{{item.emailId}}
                    </div>
                    <div class="mob">
                        <span>Mob Number:</span> {{item.mobileNumber}}
                    </div>
                </div>    
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
