
<div>
    <div class="container">
        <div class="content">
        <div class="logo">
            <img src="/assets/img_virtuallearn logo_splash 2.png">
        </div>
        <div class="align">
        <div class="notification">
            <mat-icon matBadge="15" matBadgeColor="warn">notifications</mat-icon>
        </div>
        <div class="person">
           
            <img src="/assets/Oval Copy 5.png">
            <div>Dhoni</div>
        </div>
    </div>
    </div>
</div>
<div class="body">
    <div class="admin">Admin Request</div>
    <div class="cover">
<div class="list">
   <!-- <table>
    <tr>
        <th>i</th>
        <th>Name</th>
        <th>sub</th>
        <th>accept</th>
        <th>reject</th>
    </tr>
   </table> -->
   <div>i</div>
   <div class="name">Vk</div>
   <div class="name">Description</div>
   <div>
    <button>accept</button>
   </div>
   <div>
    <button>reject</button>
   </div>
</div>
<div class="list">
    <!-- <table>
     <tr>
         <th>i</th>
         <th>Name</th>
         <th>sub</th>
         <th>accept</th>
         <th>reject</th>
     </tr>
    </table> -->
    <div>i</div>
    <div class="name">Vk</div>
    <div class="name">Description</div>
    <div>
     <button>accept</button>
    </div>
    <div>
     <button>reject</button>
    </div>
 </div>
</div>
</div>
</div>
