.sideNav {
  position: absolute;
  /* width: 345px;
height: 1186px; */

  width: 20%;
  height: 100%;
  top: 0;
  left: 0;

background: #FFFFFF;
border-radius: 2px;
/* border: 1px solid #000; */
}

.logo {
  position: absolute;
 top: 5vh;
right: 0vw;
left: 0px;
width: 59%;
  margin:auto;
}
.dashboard {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5rem;
  font-family: "Proxima Nova Soft";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  width: 14vw;
  padding: 14% 14%;

  color: #232323;
}
.dashboard mat-icon{
    color: rgba(0,0,0,0.3);
}
.nav{
    position: absolute;
    left: 28%;
     top: 20%;
    display: flex;
    flex-direction: column;
    
    align-items: center;
    gap:2.5rem
}
.dashboard:hover{
    background: #092963;
    border-radius: 18px;
    color:#fff;
   
}
.dashboard:hover mat-icon{
    color: #fff;
}
.active{
    background: #092963;
    border-radius: 18px;
    color:#fff;
}
.active mat-icon{
    color:#fff;
}


.dashboard mat-icon {
  color: rgba(0, 0, 0, 0.3);
}
.nav {
  position: absolute;
  left: 46.2px;
  display: flex;
  flex-direction: column;

  align-items: center;
  gap: 2.5rem;
  top: 251px;
}

.active {
  background: #092963;
  border-radius: 18px;
  color: #fff;
}
.active mat-icon {
  color: #fff;
}


.sideNav1{
position: absolute;
width: 20%;
height: 100%;
top: 0;
left: 0;
background: #092963;
border-radius: 2px;
}
.dashboard1{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:1.5rem;
    font-family: 'Proxima Nova Soft';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 22px;
padding: 15%;
    padding-left: 30%;
    padding-right: 30%;

color: #fff;
}
.dashboard1 mat-icon{
    color: #fff;
}

.dashboard1:hover{
    background: #fff;
    border-radius: 18px;
    color:#092963;
   
}
.dashboard1:hover mat-icon{
    color:#092963 ;
}
.active1{
    background: #fff;
    border-radius: 18px;
    color:#092963;
}
.active1 mat-icon{
    color:#092963;

  width: 19.8%;
  height: 78%;
  top: 0px;

  background: #ffffff;
  border-radius: 2px;
  /* border: 1px solid #000; */
}
.dashboard mat-icon {
  color: rgba(0, 0, 0, 0.3);
}

.dashboard:hover {
  background: #092963;
  border-radius: 18px;
  color: #fff;
}
.dashboard:hover mat-icon {
  color: #fff;
}
.active {
  background: #092963;
  border-radius: 18px;
  color: #fff;
}
.active mat-icon {
  color: #fff;
}
