/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  padding: 0;
  font-family: revert;
  background: #f9f9f9;
  font-family: 'Rubik', sans-serif;
}
button{
  cursor: pointer;
}
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap');
.mat-progress-bar-fill::after {
  background-color: red;
}

::ng-deep .mat-progress-bar {
    border-radius: 2px;
}
body,html {
  cursor: default;
  overflow-x: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
 
  top: 0;
  left: 0;
  
  
}
.full-screen-modal .mat-dialog-container {
  max-width: none;
 
  background-color: transparent !important;
}
.trans .mat-dialog-container{
  
  transition: all 100s ease-in-out 100s;
}

