<div class="container">
  <div class="box">
    <div class="logo">
      <img src=" assets/logo_splash.png" alt="logo" />
    </div>
    <div class="dataForgot" *ngIf="login">
      <form [formGroup]="loginForm">
        <div class="username">
          <mat-form-field class="example-full-width">
            <mat-label>User Name</mat-label>
            <input matInput formControlName="user" type="text" placeholder="abc@gmail.com" />
          </mat-form-field>
        </div>
        <div class="pass">
          <mat-form-field class="example-full-width">
            <mat-label>Password</mat-label>
            <input
              class="password"
              type="password"
              formControlName="password" 
              style="-webkit-text-security: square"
              matInput
              placeholder="123456"
            />
          </mat-form-field>
        </div>
        <div div class="error" *ngIf="loginForm.invalid &&   (loginForm.get('user')?.touched && loginForm.get('user')?.dirty)  && (loginForm.get('user')?.touched && loginForm.get('user')?.dirty)">
            Enter the Values
        </div>
          </form>
          <div class="error" ><span>{{message}}</span></div>
      <div class="box1">
        <div class="Forgo" (click)="forgot()">Forgot Password?</div>
      </div>
      
      <div class="button1"  >
        <button class="loginButn" [disabled]="loginForm.invalid" (click)="adminLogin()">Login</button>
        <button class="loginButn" routerLink="/signUp" >SignUp</button>
      </div>
      <div class="button2">
         <button class="loginButn" (click)="superAdmin()" >Super Admin Login</button>
      </div>
    </div>
    <div class="dataForgot" *ngIf="forgotPassword">
      <div class="title">Forgot Password</div>
      <div class="discription">
        Please enter your Email ID. You will receive a code to create a new
        password.
      </div>
      <div class="username">
         <form [formGroup]="emailForm">
        <mat-form-field class="example-full-width">
          <mat-label>Enter Email ID</mat-label>
          <input type="email" formControlName="email" matInput  />
        </mat-form-field>
        </form>
      </div>
       <div class="error" ><span>{{message}}</span></div>
      <div class="button" >
        <button class="loginButn" [disabled]="!emailForm.valid"  (click)="emailCheck()">Send</button>
      </div>
    </div>
    <div class="dataForgot" *ngIf="superAdmins">
      <form [formGroup]="loginForm">
        <div class="username">
          <mat-form-field class="example-full-width">
            <mat-label>User Name</mat-label>
            <input matInput formControlName="user" />
          </mat-form-field>
        </div>
        <div class="pass">
          <mat-form-field class="example-full-width">
            <mat-label>Password</mat-label>
            <input
              class="password"
              type="password"
              formControlName="password" 
              style="-webkit-text-security: square"
              matInput
            />
          </mat-form-field>
        </div>
          </form>
      <div class="box1">
        <div class="Forgo" (click)="forgot()">Forgot Password?</div>
      </div>
      <div style="color: red ;" *ngIf="!valid" ><span>Invalid User Credentials</span></div>
      <div class="button3">
         <button class="loginButn" [disabled]="loginForm.invalid" (click)="adminLogin()">Login</button>
      </div>
    </div>
  </div>
</div>
