.head{
    font-family: 'Proxima Nova Soft';
  font-style: normal;
  font-weight: 600;
  font-size: 1.375rem;
  line-height: 1.8125rem;
  color: #292929;
  text-align: center;
  margin-block-end: 5%;
}
.student{
    display: flex;
    gap:3rem;
    margin-block-end: 2rem;
    margin: 1%;
    align-items: center;
}
button{
    background: #EE5C4D;
    border-radius: 6px;
    border: none;
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 2.18rem;
    text-align: center;
    color: #FFFFFF;
    
    cursor: pointer;
}
mat-icon{
    float:right;
}