<div class="container">
    <div class="navbar">
        <app-side-nav></app-side-nav>
    </div>
    <div class="head">
<app-header></app-header>
    </div>
    <div class="contentBox">
        <div class="change">
            Change&nbsp;password
        </div>
        
        <form class="contentCover" [formGroup]="changeForm">
        <div class="content">
            <div class="input">
            <label>Current&nbsp;password</label>
            <input placeholder="placeholder text" type="password"  formControlName="oldpassword">
            <div *ngIf="changeForm.get('oldpassword')?.errors?.['required'] && changeForm.get('oldpassword')?.touched" class="require">This is required field*</div>
            <div *ngIf="changeForm.get('oldpassword')?.errors?.['currentMatch'] && changeForm.get('oldpassword')?.touched" class="require">Incorrect password</div>
        </div>
        
        <div class="input">
            <label>New&nbsp;password</label>
            <input placeholder=" placeholder text" type="password" formControlName="newpassword">
            <div *ngIf="changeForm.get('newpassword')?.errors?.['required'] && changeForm.get('newpassword')?.touched" class="require">This is required field*</div>
            <div *ngIf="changeForm.get('newpassword')?.errors?.['minlength']" class="require" >your password must have atleast 6 or more characters</div>
            <div *ngIf="changeForm.get('newpassword')?.errors?.['doNotMatch']" class="require">your password cannot be same as old password</div>
        </div>
        <div class="input">
            <label>Confirm&nbsp;password</label>
            <input placeholder="placeholder text" type="password"  formControlName="confirmpassword">
            <div *ngIf="changeForm.get('confirmpassword')?.errors?.['required'] && changeForm.get('confirmpassword')?.touched" class="require">This is required field*</div>
            <div *ngIf="changeForm.get('confirmpassword')?.errors?.['mustMatch']" class="require">confirm password didn't match with new password</div>
        </div>
        <div class="save">
            <button (click)="onSave()"[disabled]="!changeForm.valid">Save</button>
        </div>
        </div>
    </form>
    <div class="success" *ngIf="success">
        <div class="right"><mat-icon (click)="onclose()">check_circle</mat-icon></div>
        <div class="line" >password&nbsp;changed&nbsp;successfully</div>
        <div class="left"><mat-icon (click)="onclose()">clear</mat-icon></div>
    </div>
    </div>
</div>
