.contentBox{
    box-sizing: border-box;

position: absolute;
width: 80.1%;
height: 88%;

right: 0;
top: 12%;

background: #F9F9F9;
border-radius: 38px 0px 0px 38px;
/* border:1px solid #000; */
}
.change{
    position: absolute;
    top:3%;
    left: 3%;
    font-family: 'Proxima Nova Soft';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 29px;
color: #232323;
padding: .5%;
border-bottom: 3px solid #EE5C4D;


}
.content{
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
}
.contentCover{
    position: relative;
    top:15%
}
.input{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap:.5rem
}
.input input{
    /* width:100%; */
    padding: .5rem;
    background: #FFFFFF;
border: 1px solid #D5D4DC;
border-radius: 8px;


}
.input label{
    font-family: 'Proxima Nova Soft';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 20px;
letter-spacing: 0.4px;

color: #232323;
}
.input input::placeholder{
    font-family: 'Proxima Nova Soft';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.2px;

color: #8B849B;
}
.save button{
    background: #EE5C4D;
border-radius: 6px;
border: none;
font-family: 'Proxima Nova Soft';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 35px;
text-align: center;
color: #FFFFFF;
padding-left: 3rem;
padding-right: 3rem;
cursor: pointer;
}
.success{
    position: relative;
    top: 70%;
    left:35%;
    display: flex;
    align-items: center;
    padding: 5px;
   justify-content: space-around;
    width:30%;
    background: rgba(70, 208, 36, 0.95);
    box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
   
}
.right mat-icon{
    color:#1EAB0D;
    cursor: pointer;
    /* position: absolute; */
   

}
.left mat-icon{
    color: #fff;
    cursor: pointer;
}
.line{
    font-family: 'PingFang SC';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
color: #FFFFFF;


}



.success{
    position: relative;
    top: 70%;
    left:35%;
    display: flex;
    align-items: center;
    padding: 5px;
   justify-content: space-around;
    width:30%;
    background: rgba(70, 208, 36, 0.95);
    box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
   
}
.right mat-icon{
    color:#1EAB0D;
    cursor: pointer;
    /* position: absolute; */
   

}
.left mat-icon{
    color: #fff;
    cursor: pointer;
}
.line{
    font-family: 'PingFang SC';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
color: #FFFFFF;


}
.input input.ng-invalid.ng-touched{
    border:1px solid red;
}
.require{
    color:red;
}