<div class="container">
    <div class="navbar">
        <app-side-nav></app-side-nav>
    </div>
    <div class="head">
<app-header></app-header>
    </div>
    <div class="contentBox">
        <div class="change">
            Change&nbsp;password
        </div>
        <div class="contentCover">
        <div class="content">
            <div class="input">
            <label>Current&nbsp;password</label>
            <input placeholder="placeholder text">
        </div>
        <div class="input">
            <label>Current&nbsp;password</label>
            <input placeholder=" placeholder text">
        </div>
        <div class="input">
            <label>Current&nbsp;password</label>
            <input placeholder="placeholder text">
        </div>
        <div class="save">
            <button (click)="onSave()">Save</button>
        </div>
        </div>
    </div>
    <div class="success" *ngIf="success">
        <div class="right"><mat-icon (click)="onclose()">check_circle</mat-icon></div>
        <div class="line" >password&nbsp;changed&nbsp;successfully</div>
        <div class="left"><mat-icon (click)="onclose()">clear</mat-icon></div>
    </div>
    </div>
</div>
