<div class="whole">
    
    <!-- <button (click)="sub()">sub</button> -->
<div class="container" [class.trans]="trans" >
    <div *ngIf="firstBlock">
    <div class="close"><mat-icon mat-dialog-close  (click)="onclose()">clear</mat-icon></div>
    <div class="profile">
        <div class="line">Profile</div>
        <div class="edit"><mat-icon (click)="onedit()">edit</mat-icon></div>
    </div>
    <div class="profileImage">
<div class="image">
    <img  class="image" src="{{profileDetails.profilePhoto}}">
    <!-- <img src="/assets/mg 1.png"> -->
</div>
<div class="name">{{profileDetails.fullName}}</div>
    </div>
    <div class="border"></div>
    <div class="content">
        <div class="inside">
            <div class="person">Name</div>
            <div class="personName" >{{profileDetails.fullName}}</div>
        </div>
        <div class="inside1">
            <div class="person">Email&nbsp;ID</div>
            <div class="personName">{{profileDetails.emailId}}</div>
        </div>
        <div class="inside2">
            <div class="person">Mobile&nbsp;number</div>
            <div class="personName">{{profileDetails.mobileNumber}}</div>
        </div>
        <div class="inside3">
            <div class="personName">Change&nbsp;password</div>
            <div  class="move"><mat-icon (click)="onchange()">keyboard_arrow_right</mat-icon></div>
        </div>
    </div>
</div>

<div *ngIf="secondBlock">
    <div class="back">
        <mat-icon (click)="onback()">arrow_back</mat-icon>
    </div>
    <div class="edits">Edit&nbsp;Profile</div>
    <form [formGroup]="chageProfile">
    <div class="photo">
        <img class="changePhoto" src="{{photo}}">
        <div class="cphoto">

            <input type="file" name="photo" id="upload" (change)="onFileSelect($event)" /> <label for="upload"><mat-icon >camera_alt</mat-icon></label>

        </div>
    </div>
    <div class="lineCopy"></div>
    
    <div class="details">
        <div class="none">
            <label class="noneName">Full&nbsp;Name</label>
            <input placeholder="" formControlName="name" >
        </div>
        <div>
            <small *ngIf="chageProfile.get('name')?.errors?.['required'] && chageProfile.get('name')?.touched " class="require"> This is required field*</small>
            <small *ngIf="chageProfile.get('name')?.errors?.['pattern']" class="require">  name cannot start with number</small>
          </div>
        <div class="none">
            <label class="noneName">Email&nbsp;ID</label>
            <input placeholder="" formControlName="email"  readonly>
        </div>
        <div class="none">
            <label class="noneName">Mobile&nbsp;Number</label>
            <input placeholder="" formControlName="mobileNumber" >
        </div>
        <div >
            <small *ngIf="chageProfile.get('mobileNumber')?.errors?.['pattern']" class="require" >
              Please, Enter 10 digit Mobile Number.
            </small>
          </div>
        <div class="save">
            <button type="submit" (click)="proSave()">Save</button>
        </div>
    </div>
</form>

</div>


<div *ngIf="thirdBlock">
    <div class="back">
        <mat-icon (click)="onback()">arrow_back</mat-icon>
    </div>
    <div class="edits1">Change&nbsp;Password</div>
    <div class="lineCopy1"></div>
    <form [formGroup]="changeForm" (ngSubmit)="onsubmit()">
    <div class="detailsCopy" >
        <div class="none">
            <label class="noneName">Current&nbsp;Password</label>
            <input placeholder="" type="password" formControlName="oldpassword">
        </div>
        <div *ngIf="changeForm.get('oldpassword')?.errors?.['required'] && changeForm.get('oldpassword')?.touched" class="require">This is required field*</div>
        <!-- <div *ngIf="changeForm.get('oldpassword')?.errors?.['currentMatch'] && changeForm.get('oldpassword')?.touched" class="require">Incorrect password</div> -->
        <div class="none">
            <label class="noneName">New&nbsp;Password</label>
            <input placeholder="" type="password" formControlName="newpassword">
        </div>
        <div *ngIf="changeForm.get('newpassword')?.errors?.['required'] && changeForm.get('newpassword')?.touched" class="require">This is required field*</div>
        <div *ngIf="changeForm.get('newpassword')?.errors?.['minlength']" class="require" >your password must have atleast 6 or more characters</div>
        <div *ngIf="changeForm.get('newpassword')?.errors?.['doNotMatch']" class="require">your password cannot be same as old password</div>
        <div class="none">
            <label class="noneName">Confirm&nbsp;Password</label>
            <input placeholder="" formControlName="confirmpassword" type="password" >
        </div>
        <div *ngIf="changeForm.get('confirmpassword')?.errors?.['required'] && changeForm.get('confirmpassword')?.touched" class="require">This is required field*</div>
        <div *ngIf="changeForm.get('confirmpassword')?.errors?.['mustMatch']" class="require">confirm password didn't match</div>
        <div class="save">
            <button type="submit" (click)=" onSave()" [disabled]="!changeForm.valid">Save</button>
        </div>
    </div>
     <!-- <div *ngIf="!changeForm.get('oldpassword').valid">required field</div> -->
     
</form>

    
</div>


</div>
<div class="success" *ngIf="savePro">
    <div class="right"><mat-icon (click)="onClose()">check_circle</mat-icon></div>
    <div class="lines">{{result}}</div>
    <div class="left"><mat-icon (click)="onClose()">clear</mat-icon></div>
</div>
<div class="success" *ngIf="save">
    <div class="right"><mat-icon (click)="onClose()">check_circle</mat-icon></div>
    <div class="lines">{{response}}</div>
    <div class="left"><mat-icon (click)="onClose()">clear</mat-icon></div>
</div>
</div>