.head {
  position: absolute;
  width: 80%;
  /* height: 12vh; */
  height: 7.5rem;
  /* width: 1582px; */
  right: 0;
  top: 0;
  background: #ffffff;
  border-radius: 50px 0px 0px 0px;
  /* border: 1px solid #000; */
}
.navPosition {
  position: absolute;
  top: 35%;
  left: 5%;
  font-family: "Proxima Nova Soft";
  font-style: normal;
  font-weight: 600;
  font-size: 1.75rem;
  line-height: 2.125rem;
  color: #292929;
}
.outer{
  display: flex;
}
.person {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: absolute;
  right: 5%;
  top: 15%;
}
.personImg {
  /* background-color: rgb(230, 169, 56); */
  border-radius: 50%;
}
.personName {
  font-family: "Proxima Nova Soft";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.1875rem;
  text-align: right;
  color: #292929;
}
.image{

  

  border-radius: 50%;

  border:1px solid #000;

  width: 4.3em;

  height: 4.3em;

}