.head {
  position: absolute;
  width: 80%;
  /* height: 12vh; */
  height: 7.5rem;
  /* width: 1582px; */
  right: 0;
  top: 0;
  background: #ffffff;
  border-radius: 50px 0px 0px 0px;
  /* border: 1px solid #000; */
}
.navPosition {
  position: absolute;
  top: 35%;
  left: 5%;
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.75rem;
  line-height: 2.125rem;
  color: #292929;
}
.outer{
  display: flex;
}
.person {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  right: 5%;
  top: 5%;
}
.personImg {
  border-radius: 50%;
}
.personName {
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.1875rem;
  text-align: right;
  color: #292929;
}
.image{
  border-radius: 50%;
  border:1px solid #000;
  width: 4.3em;
  height: 4.3em;
}

.publ{
  position: absolute;
  left: 64%;
top: 43px;
}

.publish{
  background: #EE5C4D;
  border: none;
  color: white;
  display: flex;
  align-items: center;
  font-size: 18px;
  padding: 8px;
}
.pub{
  background:#EE5C4D;
  border: none;
  color: rgb(255, 255, 255,0.3);
  display: flex;
  align-items: center;
  font-size: 18px;
  padding: 8px;
}
.publish span{
  margin-right: 47px;

}