<div class="head">
  <div class="navPosition">
    {{ head }}
  </div>
  <div class="align">
  <div class="publ" *ngIf="show">
    {{getId()}}
    <button class="publish"  (click)="publish()" [class.pub]="!hide"  ><span>Publish to web</span><mat-icon>cloud_upload</mat-icon></button>
  </div>

  <div class="person">
    <div class="personImg" (click)="openDialogProfile()">
      <img class="image" src="{{photo}}" />
    </div>
    <div class="personName">{{name}}</div>
    <div (click)="logout()">
      <mat-icon>logout</mat-icon>
    </div>
  </div>
</div>
</div>