<div class="head">
  <div class="navPosition">
    {{ head }}
  </div>
  <div class="publ" *ngIf="show">
    <button class="publish"  (click)="publish()" [disabled]="hide" ><span>Publish to web</span><mat-icon>cloud_upload</mat-icon></button>
  </div>

  <div class="person">
    <div class="personImg" (click)="openDialogProfile()">
      <img class="image" src="{{profileDetails.profilePhoto}}" />
    </div>
    <div class="personName">{{profileDetails.fullName}}</div>
    <div (click)="logout()">
      <mat-icon>logout</mat-icon>
    </div>
  </div>
</div>