.border {
  height: auto;
  background-color: white;
  padding-top: 1.5vh;
}
.border input {
  padding: 12px;
  font-size: 18px;
  color: #2b2b2b;
  width: 34vw;
  height: 3vh;
  background: #fdfdfd;
  border: 1px solid #d5d4dc;
  border-radius: 8px;
}

.border .title {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.4px;
  color: #232323;
}
.row {
  margin: 20px 4vw;
}

.joining {
  display: flex;
  margin-left: 4vw;
  margin-top: 44px;
  gap: 20px;
}
.addnew {
  height: fit-content;
  margin-top: 2vw;
}
.time {
  display: flex;
  align-items: center;
  /* height: fit-content;
margin-top: 43px; */
}

.joining input {
  width: 15vw;
  height: 4vh;
}
.Cnotitle {
  margin-top: 30px;
  font-weight: 700;
  font-size: 14px;
  line-height: 30px;
  margin-left: 16px;

  /* identical to box height, or 214% */

  color: #111111;
}
.certificteFooter {
  height: 120px;
  width: 100%;
  background-color: #042c5c;
  margin-top: 50px;
}

.footlogo {
  margin-top: 3vh;
  margin-left: 4vw;
}

.cup {
  position: absolute;

  top: 50vh;
  width: 361px;
  height: 375.417px;
  right: 5.5vw;
}
.submisson {
  margin-top: 5vh;
  float: right;
  margin-bottom: 2vh;
}
.save,
.preview {
  /* position: absolute;
  right: 2.2vw; */
  width: 12vw;
  background: #ee5c4d;
  border-radius: 6px;
  height: 44px;
  color: white;
}
.preview {
  background: rgba(9, 41, 99, 0.2);
  margin-right: 3vw;
}
