<form [formGroup]="categoryForm">
<div class="dialog">
  <div class="textIn">
    <div class="title">Category Name:</div>
    <div>
      <input type="text" formControlName="categoryName" />
    </div>
    <div
          *ngIf="categoryForm.get('videoTitle')?.errors?.['required'] && categoryForm.get('videoTitle')?.touched"
          class="error1"
        >
          Required
        </div>
  </div>
  <div class="flex">
      <button (click)="add()" [disabled]="categoryForm.invalid">Add</button>
      <button mat-dialog-close>Close</button>
    </div>
</div>
</form>
